/* Seus estilos atuais */

/* Estilos para telas menores */
@media only screen and (max-width: 768px) {
    .nav-items {
      display: none; /* Esconder a barra de navegação por padrão */
    }
  
    .mobile-menu-icon {
      display: block; /* Exibir o ícone do menu por padrão */
      cursor: pointer;
      padding: 10px;
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px 0;
    }
  
  
  
 
  /* Ajuste o tamanho da fonte para dispositivos móveis */
  .main-text {
      font-size: 60px;
  }

  /* Ajuste o tamanho das imagens na seção de "center-images" */
  .center-images {
      flex-direction: column;
  }

  .image15,
  .image16,
  .image17,
  .image18,
  .image19 {
      width: 100%;
  }

  /* Ajuste o layout do rodapé para dispositivos móveis */
  footer {
      flex-direction: column;
      text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
      flex-basis: 100%;
  }

  .footer-left p,
  .footer-right p {
      margin-bottom: 10px;
  }

  /* Estilos para a div "green-background" */
  .green-background {
      background-color: #488097;
      padding: 50px;
      text-align: center;
      margin-top: 20px;
      color: #fff;
      font-size: 24px;
  }
}
