.text-container2 {
  text-align: center;
  margin-top: 120px;
}

.main-text {
  font-size: 100px;
  font-weight: bold;
}

.image-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.image-container2 {
  position: relative;
  margin-top: 20px;
}

.image-container2 img {
  width: 300px;
}
.image-container2:hover{
  cursor: pointer;
  filter: brightness(90%);
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.image-text {
  color: black;
  font-size: 32px;
  margin: 0;
  margin-right: 30px;
}
/* Responsividade para telas menores (Celulares, Tablets, etc.) */
@media only screen and (max-width: 767px) {
  .main-text {
    font-size: 60px; /* Reduzir o tamanho da fonte para telas menores */
  }

  .image-text {
    font-size: 24px; /* Reduzir o tamanho da fonte da legenda em telas menores */
  }
}

